@define-color foreground #FBF0E6;
@define-color background #010000;
@define-color background-alt rgba(1,0,0,0.25);
@define-color cursor #E0CCBF;

@define-color color0 #010000;
@define-color color1 #957C71;
@define-color color2 #947F71;
@define-color color3 #AA807B;
@define-color color4 #AB9482;
@define-color color5 #B29C8B;
@define-color color6 #B69E8B;
@define-color color7 #F0E1D3;
@define-color color8 #A89D94;
@define-color color9 #C7A696;
@define-color color10 #C5A997;
@define-color color11 #E3ABA5;
@define-color color12 #E4C5AD;
@define-color color13 #EDD0B9;
@define-color color14 #F3D3B9;
@define-color color15 #F0E1D3; 