@define-color foreground #FEF3FD;
@define-color background #141214;
@define-color background-alt rgba(20,18,20,0.25);
@define-color cursor #E5CEE2;

@define-color color0 #3C3A3B;
@define-color color1 #947B91;
@define-color color2 #997F95;
@define-color color3 #7C937C;
@define-color color4 #9896A3;
@define-color color5 #9CA27B;
@define-color color6 #BCA6BB;
@define-color color7 #F5E5F3;
@define-color color8 #ABA1AA;
@define-color color9 #C6A4C2;
@define-color color10 #CCA9C7;
@define-color color11 #A6C4A5;
@define-color color12 #CBC9D9;
@define-color color13 #CFD8A4;
@define-color color14 #FBDDF9;
@define-color color15 #F5E5F3; 