@define-color foreground #F9F1E9;
@define-color background #24272F;
@define-color background-alt rgba(36,39,47,0.25);
@define-color cursor #DFA3A8;

@define-color color0 #4A4D55;
@define-color color1 #335E62;
@define-color color2 #943F4E;
@define-color color3 #A3414E;
@define-color color4 #638D85;
@define-color color5 #AE8C75;
@define-color color6 #B2A290;
@define-color color7 #EEE3D7;
@define-color color8 #A69F96;
@define-color color9 #447D83;
@define-color color10 #C55468;
@define-color color11 #D95768;
@define-color color12 #84BBB2;
@define-color color13 #E8BA9C;
@define-color color14 #EED7C0;
@define-color color15 #EEE3D7; 