@define-color foreground #FBF2ED;
@define-color background #211B1B;
@define-color background-alt rgba(33,27,27,0.25);
@define-color cursor #ECD7CF;

@define-color color0 #484242;
@define-color color1 #5A9996;
@define-color color2 #A68C85;
@define-color color3 #71A19B;
@define-color color4 #7A9EA7;
@define-color color5 #9E9F9E;
@define-color color6 #B6A499;
@define-color color7 #F1E4DD;
@define-color color8 #A8A09B;
@define-color color9 #78CCC8;
@define-color color10 #DEBBB1;
@define-color color11 #97D7CE;
@define-color color12 #A3D3DE;
@define-color color13 #D2D4D2;
@define-color color14 #F3DBCB;
@define-color color15 #F1E4DD; 